doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Mi Aplicación
    link(rel="stylesheet", href="/styles/index.css")
    header 
     h1 Receta Electronica

  body

      div#form
       label email
       input(type="email", required, placeholder="EJ.juan123@gmail.com")
       br
       label contraseña.
       input(type="text",required)   
      button#login Iniciar cesion
      br
      button#register Registrarse
  script(src="/scripts/index.js") 
  footer 
   h4 Copyright 2024. Todos los derechos reservados