doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Mi Aplicación
    link(rel="stylesheet", href="/styles/index.css")
    header 
     h1 Receta Electronica

  body

      div#form
       label ID de REFEPS.
       input(type="text", required, placeholder="Ej:1Z39JI901")
       br
       label DNI
       input(type="number",required, placeholder="Ej:12345678")   

  script(src="/scripts/index.js") 
  footer 
   h4 Copyright 2024. Todos los derechos reservados