doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title vista paciente
    body 
     h1 Lo que veria un paciente registrado
     button#logout Cerrar Sesión
     script(src="/scripts/paciente.js") 
    footer 
     h4 Copyright 2024. Todos los derechos reservados  