doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/styles/principal.css")
        title Principal
    header 
     h3 Bienvenido doctor

    body
     
    .contenedor
      .menu
        // Coloca aquí tu menú
        ul
          li Menu 1
          li Menu 2
          li Menu 3
          li menu 4
          li Menu 5
          li Menu 6
          li Menu 7
          li menu 8       
      .contenido
        // Coloca aquí el resto del contenido
        h1 Prescripcion Medica
        h3 Complete todos los campos a continuacion para generar una prescripcion medica
        form(action="http://localhost:3000/submit-form" method="post")
         label(for="pacientes") Seleccione un paciente:
          select(name="paciente",required)#pacientes
           option(value="") Seleccione un paciente 
           each paciente in pacientes
            option(value= paciente.nombre) #{paciente.nombre} #{paciente.apellido}

         br
         br
         label(for="diagnostico") Diagnostico:
         textarea(type="text",maxlength="500", required, placeholder="Inserte diagnostico",rows="5", name="diagnostico")#diagnostico
         br
         br
         label(for="medicamentos") Seleccione un Medicamento:
          select(name="medicamento",required)#medicamentos
           option(value="Medicamento1") Medicamento 1 categoria y familia
           option(value="Medicamento2") Medicamento 2 categoria y familia
           option(value="Medicamento3") Medicamento 3 categoria y familia
           option(value="Medicamento4") Medicamento 4 categoria y familia
         br
         br
         label(for="prestaciones") Seleccione una Prestacion:
          select(name="prestacion",required)#prestaciones
           option(value="Prestaciones1") Prestación 1 
           option(value="Prestaciones2") Prestación 2 
           option(value="Prestaciones3") Prestación 3 
           option(value="Prestaciones4") Prestación 4
         br
         br
         label(for="vigencia") Válido hasta:
          input(type="date",required,name="vigencia")#vigencia
         br
         br
         button(type="submit") Enviar Prescripcion
      script(src="/scripts/principal.js") 
    footer 
     h4 Copyright 2024. Todos los derechos reservados  