html{
    background-color: #003366;
}
header{
    background-color: #10eccb;
}
footer{
    background-color: #10eccb;
}


div.contenido{
    background-color: #98FF98;
}

.contenedor {
    display: flex;
}
  
.menu {
    flex: 0 0 20%; /* Esta columna ocupará el 20% del ancho total */
    background-color: #10eccb; /* Color de fondo del menú */
    border-radius: 4px;
}
  
.contenido {
    flex: 1; /* Esta columna ocupará el espacio restante */
    padding: 20px; /* Añade espaciado para que el contenido no esté pegado a los bordes */
}


#diagnostico {
    width: 100%;
    background-color: #5bd84f;
}

#pacientes {
    width: 100%;
    background-color: #5bd84f;
    
}

#medicamentos {
    width: 100%;
    background-color: #5bd84f;
}

#medicamentos2 {
    width: 100%;
    background-color: #5bd84f;
}

#medicamentos3 {
    width: 100%;
    background-color: #5bd84f;
}

#prestaciones {
    width: 100%;
    background-color: #5bd84f;
}

#vigencia {
    background-color: #5bd84f;
}

#lado{
    width: 100%;
    background-color: #5bd84f;
}

textarea::placeholder {
    color: black ; /* Cambia esto al color que desees */
}




button{
    background-color: #5bd84f;
    border-radius: 5px;
    margin: auto;
    display: flex;
    justify-content: center;
}